/* .container {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10vh 0.2fr 1fr 2fr 1fr 1fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "top_nav top_nav top_nav top_nav top_nav top_nav"
    "left_nav logo title title title right_bio"
    "left_nav main_content main_content main_content main_content right_bio"
    ". main_content main_content main_content main_content history"
    ". main_content main_content main_content main_content ."
    "footer footer footer footer footer footer";
} */

.container {  display: grid;
  grid-template-columns: 0.8fr 1.1fr 0.9fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.7fr 1.1fr 1fr 1fr 1fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo top_nav top_nav top_nav top_nav top_nav"
    "lft_nav_title title title title title rt_nav_title"
    "left_nav main_content main_content main_content main_content rt_nav"
    "lft_nav main_content main_content main_content main_content rt_nav"
    "lft_nav main_content main_content main_content main_content rt_nav"
    "lft_nav main_content main_content main_content main_content rt_nav"
    "lft_nav main_content main_content main_content main_content history"
    "footer footer footer footer footer footer";
}

.top_nav {
  grid-area: top_nav;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
}
#logo {
  height: auto;
  width: 100%;
}

.logo {
  grid-area: logo;
  display: flex;
}

.top_nav > a {
  color: green;
  text-decoration: none;
}

.title {
  grid-area: title;
}

.main_content {
    grid-area: main_content;
}

.lft_nav_title {
    grid-area: lft_nav_title;
}

.left_nav {
  grid-area: left_nav;
}

#episode_list {
  text-align: left;
}

.rt_nav_title {
    grid-area: rt_nav_title;
}

.rt_nav {
    grid-area: rt_nav;
}

.history {
  grid-area: history;
}

.footer {
  grid-area: footer;
}